.table th, .table td {
  padding: 18px 30px;
  vertical-align: top;
  border-bottom: 1px solid #f2f2f2;
  border-top: 0;
}
.table thead th {
  font-weight: bold;
}
.form-check-input{
  margin-top: 0 ;
  margin-left: 0 ;
}
.head{
  background-color: lavender
}
.but-width{
  width: 100%;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border: 1px solid gray;
}

.custom-control-input:checked~.custom-control-label.red::before {
  background-color: red;
}

.custom-control-input:checked~.custom-control-label.green::before {
  background-color: #00ce68;
}
