<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="col-s-7 col-md-6 col-lg-5 col-xl-4 grid-margin" >
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a >Home</a></li>
      <li class="breadcrumb-item"><a >KYC</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Detail</span></li>
    </ol>
  </nav>
</div>
<div class="row" >
  <div class="col-sm-2" style="text-align: left">
    <button type="button" class="btn btn-outline-warning"  routerLink="/pages/kyc">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </button>
  </div>
</div>
<br>
<div class="">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="head">
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">Approve</div>
                <div class="col-sm">Reject</div>
              </div>
            </td>
            <th scope="col">KYC</th>
            <td>Customer</td>
          </tr>
          </thead>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve12" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject12">
                </div>
              </div>
            </td>
            <th scope="col">First Name</th>
            <td>{{userInformation.personalInformation.firstName}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve11" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject11">
                </div>
              </div>
            </td>
            <th scope="col">Last Name</th>
            <td>{{userInformation.personalInformation.lastName}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve10" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject10">
                </div>
              </div>
            </td>
            <th scope="col">Email</th>
            <td>{{userInformation.email}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve9" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject9">
                </div>
              </div>
            </td>
            <th scope="col">Date Of Birth</th>
            <td>{{userInformation.personalInformation.dateOfBirth | date: 'mediumDate'}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve8" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject8">
                </div>
              </div>
            </td>
            <th scope="col">City</th>
            <td>{{userInformation.personalInformation.city}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve7" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject7">
                </div>
              </div>
            </td>
            <th scope="col">Mobile Number</th>
            <td>{{userInformation.mobileNumber.mobileNumber}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve6" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject6">
                </div>
              </div>
            </td>
            <th scope="col">Country Telephone Code</th>
            <td>{{userInformation.mobileNumber.countryTelephoneCode}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve5" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject5">
                </div>
              </div>
            </td>
            <th scope="col">Country Code</th>
            <td>{{userInformation.personalInformation.countryCode}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve4" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject4">
                </div>
              </div>
            </td>
            <th scope="col">Birth Country Code</th>
            <td>{{userInformation.personalInformation.birthCountryCode}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve3" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject3">
                </div>
              </div>
            </td>
            <th scope="col">Zip Code</th>
            <td>{{userInformation.personalInformation.zipCode}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve2" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject2">
                </div>
              </div>
            </td>
            <th scope="col">Address Line 1</th>
            <td>{{userInformation.personalInformation.addressLine1}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve1" >
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject1">
                </div>
              </div>
            </td>
            <th scope="col">Address Line 2</th>
            <td>{{userInformation.personalInformation.addressLine2}}</td>
          </tr>
          </tbody>
          <thead *ngFor="let i of userInformation.kycImages">
          <tr>
            <td style="vertical-align: middle">
              <div class="row">
                <div class="col-sm">
                  <input type="radio" class="form-check-input" [name]="i.imageType"  value="">
                </div>
                <div class="col-sm">
                  <input type="radio" class="form-check-input" [name]="i.imageType"  value="">
                </div>
              </div>
            </td>
            <th scope="col" style="vertical-align: middle;">{{image[i.imageType]}}</th>
            <td>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" id="Input14"  (click)="getI(i.image)">
                    ​<picture>  ​
                    <img [src]="i.image" alt="" width="70px"  height="70px" class="img-fluid img-thumbnail">
                  </picture>
                  </button>
                </div>
                <div class="col-sm-12">
                  <div ngbDropdown class="d-inline-block but-width">
                    <button class="btn btn-outline-secondary but-width" type="button" id="dropdownMenuOutlineButton2" ngbDropdownToggle >
                      Rejecting For
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenuOutlineButton2">
                      <h6 class="dropdown-header">Settings</h6>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </thead>
        </table>
      </div>
  <div class="row" style="text-align: right">
    <div class="col-sm ">
      <div class="form-group">
        <button type="button" class="btn btn-warning" (click)="getApprove()"  style="margin-top: 10px;">
          <i class="fa fa-key" aria-hidden="true"></i> Submit
        </button>
      </div>
    </div>
    <div class="col-sm ">
      <div class="form-group">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modal1" style="margin-top: 10px;">
          Launch demo modal
        </button>
      </div>
    </div>
    <div class="col-sm ">
      <div class="form-group">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modal2" style="margin-top: 10px;">
          Launch demo modal
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <picture>
        <img [src]="modalImage" alt="" width="400px"  height="400px" class="img-fluid img-thumbnail">
        </picture>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Approve</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        All Cases Have been Approved.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Reject For</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
