<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="col-s-7 col-md-6 col-lg-5 col-xl-4 grid-margin" >
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a >Home</a></li>
      <li class="breadcrumb-item"><a >KYC</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Detail</span></li>
    </ol>
  </nav>
</div>
<div class="row" >
  <div class="col-sm-2" style="text-align: left">
    <button type="button" class="btn btn-outline-warning"  routerLink="/pages/kyc">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </button>
  </div>
</div>
<br>
<div class="">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve12" >
                  <label class="form-check-label" for="approve12">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject12">
                  <label class="form-check-label" for="reject12">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">First Name</th>
            <td>{{userInformation.personalInformation.firstName}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve11" >
                  <label class="form-check-label" for="approve11">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject11">
                  <label class="form-check-label" for="reject11">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Last Name</th>
            <td>{{userInformation.personalInformation.lastName}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve10" >
                  <label class="form-check-label" for="approve10">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject10">
                  <label class="form-check-label" for="reject10">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Email</th>
            <td>{{userInformation.email}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve9" >
                  <label class="form-check-label" for="approve9">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject9">
                  <label class="form-check-label" for="reject9">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Date Of Birth</th>
            <td>{{userInformation.personalInformation.dateOfBirth | date: 'mediumDate'}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve8" >
                  <label class="form-check-label" for="approve8">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject8">
                  <label class="form-check-label" for="reject8">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">City</th>
            <td>{{userInformation.personalInformation.city}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve7" >
                  <label class="form-check-label" for="approve7">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject7">
                  <label class="form-check-label" for="reject7">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Mobile Number</th>
            <td>{{userInformation.mobileNumber.mobileNumber}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve6" >
                  <label class="form-check-label" for="approve6">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject6">
                  <label class="form-check-label" for="reject6">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Country Telephone Code</th>
            <td>{{userInformation.mobileNumber.countryTelephoneCode}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve5" >
                  <label class="form-check-label" for="approve5">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject5">
                  <label class="form-check-label" for="reject5">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Country Code</th>
            <td>{{userInformation.personalInformation.countryCode}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve4" >
                  <label class="form-check-label" for="approve4">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject4">
                  <label class="form-check-label" for="reject4">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Birth Country Code</th>
            <td>{{userInformation.personalInformation.birthCountryCode}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve3" >
                  <label class="form-check-label" for="approve3">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject3">
                  <label class="form-check-label" for="reject3">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Zip Code</th>
            <td>{{userInformation.personalInformation.zipCode}}</td>
          </tr>
          </tbody>
          <thead>
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve2" >
                  <label class="form-check-label" for="approve2">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject2">
                  <label class="form-check-label" for="reject2">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Address Line 1</th>
            <td>{{userInformation.personalInformation.addressLine1}}</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve1" >
                  <label class="form-check-label" for="approve1">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject1">
                  <label class="form-check-label" for="reject1">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col">Address Line 2</th>
            <td>{{userInformation.personalInformation.addressLine2}}</td>
          </tr>
          </tbody>
          <thead *ngFor="let i of userInformation.kycImages">
          <tr>
            <td>
              <div class="row">
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="approve" >
                  <label class="form-check-label" for="approve">
                    Approve
                  </label>
                </div>
                <div class="col-sm">
                  <input class="form-check-input" type="checkbox" id="reject">
                  <label class="form-check-label" for="reject">
                    Reject
                  </label>
                </div>
              </div>
            </td>
            <th scope="col" style="vertical-align: middle;">{{image[i.imageType]}}</th>
            <td >
              <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" id="Input14"  (click)="getI(i.image)">
                ​<picture>  ​
                <img [src]="i.image" alt="" width="70px"  height="70px" class="img-fluid img-thumbnail">
              </picture>
              </button>
            </td>
          </tr>
          </thead>
        </table>
      </div>
  <div class="row" style="text-align: right">
    <div class="col-sm ">
      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="getApprove()"  style="margin-top: 10px;">
          <i class="fa fa-key" aria-hidden="true"></i> Submit
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <picture>
        <img [src]="modalImage" alt="" width="400px"  height="400px" class="img-fluid img-thumbnail">
        </picture>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
