<div class="container">
  <div class="card">
    <div class="card-body">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="Input1">First Name</label>
        <input type="text" class="form-control" id="Input1" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.firstName" disabled>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Input2">Last Name</label>
        <input type="text" class="form-control" id="Input2" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.lastName" disabled>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="Input3">Email</label>
        <input type="text" class="form-control" id="Input3" aria-describedby="emailHelp" [placeholder]="userInformation.email" disabled>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Input4">Mobile Number</label>
        <input type="text" class="form-control" id="Input4" aria-describedby="emailHelp" [placeholder]="userInformation.mobileNumber.mobileNumber" disabled>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="Input5">Country Telephone Code</label>
        <input type="text" class="form-control" id="Input5" aria-describedby="emailHelp" [placeholder]="userInformation.mobileNumber.countryTelephoneCode" disabled>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Input6">Date Of Birth</label>
        <input type="text" class="form-control" id="Input6" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.dateOfBirth" disabled>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="Input7">City</label>
        <input type="text" class="form-control" id="Input7" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.city" disabled>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Input8">Country Code</label>
        <input type="text" class="form-control" id="Input8" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.countryCode" disabled>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="Input9">Birth Country Code</label>
        <input type="text" class="form-control" id="Input9" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.birthCountryCode" disabled>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Input10">Zip Code</label>
        <input type="text" class="form-control" id="Input10" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.zipCode" disabled>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="Input11">Address Line 1</label>
        <input type="text" class="form-control" id="Input11" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.addressLine1" disabled>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="Input12">Address Line 2</label>
        <input type="text" class="form-control" id="Input12" aria-describedby="emailHelp" [placeholder]="userInformation.personalInformation.addressLine2" disabled>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let i of userInformation.kycImages">
  <div class="col" >
    <div class="form-group">
      <label for="Input13">Image Type</label>
      <input type="text" class="form-control" id="Input13" aria-describedby="emailHelp" [placeholder]="i.imageType" disabled>
    </div>
  </div>
  <div class="col" >
    <div class="form-group">
      <label for="Input14">Image:</label>
      <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" id="Input14"  (click)="getI(i.image)">
      ​<picture>  ​
      <img [src]="i.image" alt="" width="70px"  height="70px" class="img-fluid img-thumbnail">
      </picture>
      </button>
    </div>
  </div>
</div>
  <div class="row float-right">
    <div class="col-4 ">
      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="getApprove()" >
          <i class="fa fa-key" aria-hidden="true"></i>Approve
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <picture>
        <img [src]="modalImage" alt="" width="400px"  height="400px" class="img-fluid img-thumbnail">
        </picture>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
