<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div *ngIf="mainPage">
  <div class="">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
  <table class="table table-striped" >
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of list">
      <td>{{i.id}}</td>
      <td>{{i.firstName}}</td>
      <td>{{i.lastName}}</td>
      <td>
        <button type="button" class="btn btn-inverse-secondary"  (click)="userDetail(i)">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!mainPage">
  <div class="col-2" style="text-align: center">
    <button type="button" class="btn btn-warning"  (click)="back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
  </div>
</div>
<br>

<app-kyc-detail [userList]="IList" (messageEvent)="receiveMessage($event)" *ngIf="!mainPage"></app-kyc-detail>
