<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="col-s-7 col-md-6 col-lg-5 col-xl-4 grid-margin" >
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a >Home</a></li>
      <li class="breadcrumb-item"><a >Promotion</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Emails</span></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-sm-2" style="text-align: left">
    <button type="button" class="btn btn-outline-warning" routerLink="/pages/promotion"  >
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </button>
  </div>
</div>
<br>
<div class="" >
  <div class="card">
    <div class="card-body">
      <div class="mail-style" *ngFor="let i of userPromotion" >{{i.userEmail}}</div>
    </div>
  </div>
</div>
