<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="Search">Search</label>
            <app-search id="Search" (id)="receiveId($event)"></app-search>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="ShortName">Currency ShortName</label>
            <input type="text" class="form-control" id="ShortName" placeholder="Enter Currency ShortName" [(ngModel)]="reports.CurrencyShortName">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="TransactionId">Transaction Id</label>
            <input type="text" class="form-control" id="TransactionId" placeholder="Enter Transaction Id" [(ngModel)]="reports.TransactionId">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="Order By">Order By</label>
            <select class="form-control border-primary" id="Order By" [(ngModel)]="reports.Desc">
              <option [ngValue]="undefined" disabled selected> select </option>
              <option ngValue="true">Ascending</option>
              <option ngValue="false" >Descending</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="Filter By">Filter By</label>
            <select class="form-control border-primary" id="Filter By" [(ngModel)]="reports.FilterBy">
              <option [ngValue]="undefined" disabled selected> select </option>
              <option ngValue="id" >Id</option>
              <option ngValue="timestamp">Time Stamp</option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <div *ngIf="reports.FilterBy == 'id'">
              <label for="From">From</label>
              <input type="text" class="form-control" id="From" placeholder="id" [(ngModel)]="reports.From">
            </div>
            <div *ngIf="reports.FilterBy == 'timestamp'">
              <label for="From1">From</label>
              <input type="text" class="form-control" id="From1" placeholder="dd-mm-yyyy"  [(ngModel)]="reports.From" >
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <div *ngIf="reports.FilterBy == 'id'">
              <label for="Till">Till</label>
              <input type="text" class="form-control" id="Till" placeholder="id" [(ngModel)]="reports.Till">
            </div>
            <div *ngIf="reports.FilterBy == 'timestamp'">
              <label for="Till1">Till</label>
              <input type="text" class="form-control" id="Till1" placeholder="dd-mm-yyyy" [(ngModel)]="reports.Till">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-success mr-2 float-right" (click)="reportsTransactionsGet()">Submit</button>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <ngb-pagination [collectionSize]="reportsRes.count" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" aria-label="Default pagination" class="pagination-rounded"></ngb-pagination>
      <div class="table-responsive">
        <table class="table table-striped" >
          <thead>
          <tr>
            <th>
              Id
            </th>
            <th>
              Transaction Id
            </th>
            <th>
              Trader Id
            </th>
            <th>
              Currency ShortName
            </th>
            <th>
              Amount
            </th>
            <th>
              Fee
            </th>
            <th>
              Address
            </th>
            <th>
              Hash
            </th>
            <th>
              Status
            </th>
            <th>
              Type
            </th>
            <th>
              Created At
            </th>
            <th>
              Updated At
            </th>
            <th>
              Error Code
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of reportsRes.records | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td >
              {{i.id}}
            </td>
            <td >
              {{i.transactionId}}
            </td>
            <td >
              {{i.traderId}}
            </td>
            <td>
              {{i.currencyShortName}}
            </td>
            <td>
              {{i.amount}}
            </td>
            <td>
              {{i.fee}}
            </td>
            <td>
              {{i.address}}
            </td>
            <td>
              {{i.hash}}
            </td>
            <td>
              {{tStatus[i.status]}}
            </td>
            <td>
              {{tType[i.type]}}
            </td>
            <td>
              {{i.createdAt}}
            </td>
            <td >
              {{i.updatedAt}}
            </td>
            <td>
              {{i.errorCode}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

