<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="col-s-7 col-md-6 col-lg-5 col-xl-4 grid-margin " >
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item"><a>Currency</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Detail</span></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-sm-2" style="text-align: left">
    <button type="button" class="btn btn-outline-warning" routerLink="/pages/currency"  >
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </button>
  </div>
</div>
<br>
<div class="">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" >ShortName</th>
          <td >{{SNCurrency.shortName}}</td>
        </tr>
        </thead>
        <tbody>
        <tr >
          <th scope="col">Name</th>
          <td>{{SNCurrency.name}}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th scope="col">Network</th>
          <td>{{BCN[SNCurrency.network]}}</td>
        </tr>
        </thead>
        <tbody>
        <tr >
          <th scope="col">Crypto</th>
          <td> <i [ngClass]="SNCurrency.crypto ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th scope="col">Enabled</th>
          <td><i [ngClass]="SNCurrency.enabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
        </tr>
        </thead>
        <tbody>
        <tr >
          <th scope="col">Pay in Enabled</th>
          <td><i [ngClass]="SNCurrency.payinEnabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th scope="col">pay in Confirmations</th>
          <td> {{SNCurrency.payinConfirmations}}</td>
        </tr>
        </thead>
        <tbody>
        <tr >
          <th scope="col">Pay out Enabled</th>
          <td><i [ngClass]="SNCurrency.payoutEnabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th scope="col">Transfer Enabled</th>
          <td><i [ngClass]="SNCurrency.transferEnabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
        </tr>
        </thead>
        <tbody>
        <tr >
          <th scope="col">Pay Out Fee</th>
          <td>{{SNCurrency.payoutFee}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
