<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">ShortName</th>
          <th scope="col">Name</th>
          <th scope="col">Network</th>
          <th scope="col">Crypto</th>
          <th scope="col">Enabled</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>{{SNCurrency.shortName}}</td>
          <td>{{SNCurrency.name}}</td>
          <td>{{BCN[SNCurrency.network]}}</td>
          <td> <i [ngClass]="SNCurrency.crypto ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
          <td><i [ngClass]="SNCurrency.enabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th scope="col">Pay in<br>Enabled</th>
          <th scope="col">pay in<br>Confirmations</th>
          <th scope="col">Pay out<br>Enabled</th>
          <th scope="col">Transfer<br>Enabled</th>
          <th scope="col">Pay Out Fee</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><i [ngClass]="SNCurrency.payinEnabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
          <td> {{SNCurrency.payinConfirmations}}</td>
          <td><i [ngClass]="SNCurrency.payoutEnabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
          <td><i [ngClass]="SNCurrency.transferEnabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
          <td>{{SNCurrency.payoutFee}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
