<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="col-s-7 col-md-6 col-lg-5 col-xl-4 grid-margin">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a >Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Investment Fund</span></li>
    </ol>
  </nav>
</div>
<div class="" >
  <div class="card">
    <div class="card-body">
      <div class="row float-right" *ngIf="superUserGuard.canActivate()"  >
        <div class="col-sm-12 ">
          <button type="button" class="btn btn-danger btn-right" data-toggle="modal" data-target="#Delete" data-backdrop="static" data-keyboard="false" [disabled]="!disableDelete">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete
          </button>
          <button type="button" class="btn btn-primary btn-right" routerLink="/pages/addInvestmentFund" >
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" *ngIf="superUserGuard.canActivate()">
              <div class="form-check"><input type="radio" name="currencyRadios" class="" (change)="deSelectDelete($event)"> UnSelect</div>
            </th>
            <th scope="col">ShortName</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Interest</th>
            <th scope="col">Investor</th>
            <th scope="col">Edit</th>
            <th scope="col">Detail</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of inv ">
            <td *ngIf="superUserGuard.canActivate()">
              <div class="form-check"><input type="radio" name="currencyRadios" class="" [value]="i.id" (change)="deleteSN( i.id , $event)" ></div>
            </td>
            <td>{{i.fundCurrencyShortName}}</td>
            <td>{{i.name}}</td>
            <td>{{investmentType[i.type]}}</td>
            <td>
              <button *ngIf="i.type == 1" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Interest" data-backdrop="static" data-keyboard="false" (click)="interestID(i.id)">
                <i class="fa fa-percent" aria-hidden="true" ></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-info" (click)="send(i.id)">
                <i class="fa fa-shopping-bag" aria-hidden="true" ></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-warning" (click)="updateSN(i.id)">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-secondary" (click)="detailSN(i.id)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="DeleteLabel"><img src="assets/images/Delete Icon.jpeg" alt="logo" height="25" width="25" style="margin-bottom: 10px"/> Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete? <br>
              By deleting each investment,we will lose important data forever!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteShortName()">Yes, I am sure</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">No, I am not</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="Interest" tabindex="-1" role="dialog" aria-labelledby="InterestLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="InterestLabel"> Interest</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="iForm">
            <div class="row"><div class="col">
              <div class="form-group">
                <label for="date">Date</label>
                <div class="input-group">
                  <input class="form-control" id="date" formControlName="date" placeholder="Date"
                         name="ep" [(ngModel)]="dateNgb" ngbDatepicker #e="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button" style="padding: 8px 14px;"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
                <div *ngIf="iForm.controls['date'].invalid && (iForm.controls['date'].dirty || iForm.controls['date'].touched)" class="alert alert-danger">
                  <div *ngIf="iForm.controls['date'].errors.required">
                    Date is required.
                  </div>
                </div>
              </div>
            </div></div>
            <div class="row"><div class="col">
              <div class="form-group">
                <label for="interestPersent">interest Percent</label>
                <div class="input-group">
                <input type="number" class="form-control" id="interestPersent" min="0" max="100" step="1" placeholder="interest Percent" formControlName="interestPersent" [(ngModel)]="int.interestPersent ">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar"  type="button" style="padding: 8px 14px;" disabled><i class="fa fa-percent" ></i></button>
                </div>
                </div>
                <div *ngIf="iForm.controls['interestPersent'].invalid && (iForm.controls['interestPersent'].dirty || iForm.controls['interestPersent'].touched)" class="alert alert-danger">
                  <div *ngIf="iForm.controls['interestPersent'].errors.required">
                    interest Percent is required.
                  </div>
                  <div *ngIf="iForm.controls['interestPersent'].errors.min">
                    The number should not be less than 0.
                  </div>
                  <div *ngIf="iForm.controls['interestPersent'].errors.max">
                    The number should not be more than 100.
                  </div>
                </div>
              </div>
            </div></div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="iForm.invalid" (click)="addInterest()">Submit</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
