<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="col-s-7 col-md-6 col-lg-5 col-xl-4 grid-margin " >
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a >Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>User List</span></li>
    </ol>
  </nav>
</div>
<div class="" >
  <div class="card">
    <div class="card-body">
<div class="row">
  <div class="col-sm">
  <div class="form-group ">
    <label for="Network">Admin Role</label>
    <select class="form-control" id="Network" [(ngModel)]="adminList.roles"  (change)="selectedRole($event)" >
      <option  value="">No Role</option>
      <option *ngFor="let i of adminRoles.roles" [ngValue]="i">{{i}}</option>
    </select>
  </div>
</div>
  <div class="col-sm">
    <div class="form-group ">
      <label for="Search">Search</label>
      <app-search id="Search" (id)="receiveId($event)"  ></app-search>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-group">
      <label for="Order By">Order By</label>
      <select class="form-control border-primary" id="Order By" [(ngModel)]="querySearch.Desc" (change)="selectedOrder($event)">
        <option ngValue="true">Ascending</option>
        <option ngValue="false" >Descending</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group but-pos">
      <button type="button" class="btn btn-warning" (click)="refresh()" style="width: 100%">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
      <div class="table-responsive">
<table class="table table-striped" >
  <thead>
  <tr>
    <th scope="col">Full Name</th>
    <th scope="col">User Name</th>
    <th scope="col">Phone<br>Number</th>
    <th scope="col">Reset<br>Password</th>
    <th scope="col">Add To<br>Role</th>
    <th scope="col">Remove<br>From Role</th>
    <th scope="col">Detail</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of roleList.records| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <td>{{i.fullName}}</td>
    <td>{{i.userName}}</td>
    <td>{{i.phoneNumber}}</td>
    <td>
      <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#reset" data-backdrop="static" data-keyboard="false" (click)="userResetPassword(i)" >
        <i class="fa fa-key" aria-hidden="true"></i>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add" data-backdrop="static" data-keyboard="false" (click)="userAddToRole(i)">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#remove" data-backdrop="static" data-keyboard="false" (click)="userRemoveFromRole(i)" >
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-outline-secondary"  (click)="userDetail(i)">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
    </div>
    </div>
    <ngb-pagination [collectionSize]="roleList.count" [pageSize]="10" [(page)]="page" [maxSize]="3" [rotate]="true" [boundaryLinks]="false" [directionLinks]="true" aria-label="Default pagination" class="pagination-rounded"></ngb-pagination>
  </div>
</div>
<!--Modal-->
<div class="modal fade" id="reset" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetModalLabel">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="passForm">
        <div class="card ">
          <div class="card-body">
            <div class="form-row">
              <div class="col-sm">
                <label for="email">Email</label>
                <input type="email" class="form-control" [(ngModel)]="userRoleList.email" id="email"  disabled [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-sm">
                <label for="pass">New Password</label>
                <div class="input-group ">
                <input type="password" [attr.type]="inputType ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="New Password" id="pass"  [(ngModel)]="reset.newPassword">
                <div class="input-group-prepend bottom-space">
                  <div class="input-group-text"> <i  [ngClass]="inputType ? 'fa fa-eye' : 'fa fa-eye-slash'"  aria-hidden="true" (click)="eyeClick()"></i></div>
                </div>
                </div>
                <div *ngIf="!hasLength()"  class="alert alert-danger">
                  Password Requires 8 character.
                </div>
                <div *ngIf="!hasSpecial()"  class="alert alert-danger">
                  Password Requires Non Alphanumeric.
                </div>
                <div *ngIf="!hasNumber()"  class="alert alert-danger">
                  Password Requires Digit.
                </div>
                <div *ngIf="!hasUpper()"  class="alert alert-danger">
                  Password Requires Upper.
                </div>
                <div *ngIf="!hasLower()"  class="alert alert-danger">
                  Password Requires Lower.
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="!passForm.valid || !hasLower() || !hasUpper() || !hasNumber() || !hasSpecial() || !hasLength()"
                (click)="resetSubmit()">Reset</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add To Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="col-sm">
                <label for="email1">Email</label>
                <input type="email" class="form-control" [(ngModel)]="userRoleList.email" id="email1"  disabled>
              </div>
              <div class="col-sm">
                <label for="role">Role</label>
                <select class="form-control" id="role" [(ngModel)]="add.role"  >
                  <option *ngFor="let i of adminRoles.roles" [ngValue]="i">{{i}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addSubmit()">Add</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel">Remove From Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="col-sm">
                <label for="email2">Email</label>
                <input type="email" class="form-control" [(ngModel)]="userRoleList.email" id="email2"  disabled>
              </div>
              <div class="col-sm">
                <label for="role2">Role</label>
                <select class="form-control" id="role2" [(ngModel)]="remove.role">
                  <option *ngFor="let i of adminRoles.roles" [ngValue]="i">{{i}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="removeSubmit()">Remove</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

