<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="col-s-7 col-md-6 col-lg-5 col-xl-4 grid-margin" >
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a >Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Trader</span></li>
    </ol>
  </nav>
</div>
<div class="">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group ">
            <label for="Search">Search</label>
            <app-search id="Search" (id)="receiveId($event)"></app-search>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="Order By">Order By</label>
            <select class="form-control border-primary" id="Order By" [(ngModel)]="querySearch.Desc">
              <option ngValue="true">Ascending</option>
              <option ngValue="false" >Descending</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group but-pos">
            <button type="button" class="btn btn-warning" (click)="showSearch()" style="width: 100%">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Change Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of traderList.records | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td>{{i.id}}</td>
          <td>{{i.email}}</td>
          <td>{{traderEnum[i.status]}}</td>
          <td>
            <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)="change(i.id)">
              <i class="fa fa-edit" aria-hidden="true" ></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    <ngb-pagination [collectionSize]="traderList.count" [pageSize]="10" [(page)]="page" [maxSize]="3" [rotate]="true" [boundaryLinks]="false" [directionLinks]="true" aria-label="Default pagination" class="pagination-rounded"></ngb-pagination>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Status</h5>
        <button type="button" (click)="clean()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
          <div class="form-group">
            <label for="Network">Status</label>
            <select class="form-control" id="Network" [(ngModel)]="trader.status" >
              <option *ngFor="let field of fields; let i = index" [ngValue]="i">{{field}}</option>
            </select>
          </div>
        </div>
        </div>
        <form [formGroup]="traderForm">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleInputName1">Note</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Note" formControlName="note" [(ngModel)]="trader.note">
              <div *ngIf="traderForm.controls['note'].invalid && (traderForm.controls['note'].dirty || traderForm.controls['note'].touched)" class="alert alert-danger">
                <div *ngIf="traderForm.controls['note'].errors.required">
                  Note is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="traderForm.invalid" (click)="changeTrader()">Submit</button>
      </div>
    </div>
  </div>
</div>
