<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="col-md-4 grid-margin " >
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a >Home</a></li>
      <li class="breadcrumb-item"><a >Market</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Edit</span></li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-2" style="text-align: left">
    <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false"  *ngIf="marketForm.dirty">
    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
  </button>
    <button type="button" class="btn btn-outline-warning" routerLink="/pages/market" *ngIf="!marketForm.dirty" >
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </button>
  </div>
</div>
<br>
<div class="">
  <div class="card">
    <div class="card-body col-sm-10 col-md-8 col-lg-6 align-self-center">
      <form [formGroup]="marketForm">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="3">Quantity Increment</label>
              <input type="number" class="form-control" id="3" placeholder="Quantity Increment" formControlName="quantityIncrement" min="0" max="1" step="0.1" [(ngModel)]="marketPut.quantityIncrement">
              <div *ngIf="marketForm.controls['quantityIncrement'].invalid && (marketForm.controls['quantityIncrement'].dirty || marketForm.controls['quantityIncrement'].touched)" class="alert alert-danger">
                <div *ngIf="marketForm.controls['quantityIncrement'].errors.required">
                  Quantity Increment is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="4">Tick Size</label>
              <input type="number" class="form-control" id="4" placeholder="Tick Size" formControlName="tickSize" min="0" max="1" step="0.1" [(ngModel)]="marketPut.tickSize">
              <div *ngIf="marketForm.controls['tickSize'].invalid && (marketForm.controls['tickSize'].dirty || marketForm.controls['tickSize'].touched)" class="alert alert-danger">
                <div *ngIf="marketForm.controls['tickSize'].errors.required">
                  Tick Size is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="5">Take Liquidity Rate</label>
              <input type="number" class="form-control" id="5" placeholder="Take Liquidity Rate" formControlName="takeLiquidityRate" min="0" max="1" step="0.1" [(ngModel)]="marketPut.takeLiquidityRate">
              <div *ngIf="marketForm.controls['takeLiquidityRate'].invalid && (marketForm.controls['takeLiquidityRate'].dirty || marketForm.controls['takeLiquidityRate'].touched)" class="alert alert-danger">
                <div *ngIf="marketForm.controls['takeLiquidityRate'].errors.required">
                  Take Liquidity Rate is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="6">Provide Liquidity Rate</label>
              <input type="number" class="form-control" id="6" placeholder="Provide Liquidity Rate" formControlName="provideLiquidityRate" min="0" max="1" step="0.1" [(ngModel)]="marketPut.provideLiquidityRate">
              <div *ngIf="marketForm.controls['provideLiquidityRate'].invalid && (marketForm.controls['provideLiquidityRate'].dirty || marketForm.controls['provideLiquidityRate'].touched)" class="alert alert-danger">
                <div *ngIf="marketForm.controls['provideLiquidityRate'].errors.required">
                  Provide Liquidity Rate is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row float-right">
          <div class="col-sm-2 btn-center">
            <label for="submit"> </label>
            <button type="button" id="submit" class="btn btn-success " (click)="addSubmit()" [disabled]="marketForm.invalid" > Submit </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Back</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to leave the page? Your changes are not saved.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" routerLink="/pages/market">Yes</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
