<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="container login-center">
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin-bottom: 20px">
        <div class="col" style="text-align: center">
          <a >
            <img src="assets/images/logo.svg" alt="logo" height="70px"/>
          </a>
        </div>
      </div>
  <div class="row ">
    <div class="col-sm-8 col-md-7 col-lg-6" style="margin: auto">
  <form class="card-body back-border" [formGroup]="loginForm" (ngSubmit)="userLogin()" novalidate>

    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Sign In</h1>
    <div class="form-group">
    <label for="inputEmail" >Email address</label>
    <input id="inputEmail" class="form-control bottom-space" formControlName="email" type="email" name="email" placeholder="Email address" (input)="emailChange($event)" required autofocus>
    <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert alert-danger">
      <div *ngIf="loginForm.controls['email'].errors.required">
        Email is required.
      </div>
    </div>
    </div>
    <div class="form-group">
    <label for="inputPassword" >Password</label>
    <input type="password" name="password"  formControlName="password" id="inputPassword" class="form-control bottom-space" placeholder="Password" (input)="passChange($event)" required>
    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger">
      <div *ngIf="loginForm.controls['password'].errors.required">
        Password is required.
      </div>
    </div>
    </div>
    <re-captcha (resolved)="resolved($event)" siteKey="6LcgguIUAAAAAE1GXYfJd7z-uEah67Dd9kTgWcpz"></re-captcha>
    <re-captcha (resolved)="resolved($event)" siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"></re-captcha>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Log In</button>
<!--    <div class="text-center top-space">-->
<!--						<span class="form-Control">-->
<!--              have an account?-->
<!--						</span>-->

<!--      <a class="form-Control" routerLink="/register">-->
<!--        Sign Up Page-->
<!--      </a>-->
<!--    </div>-->

  </form>
    </div>
  </div>
</div>
</div>
</div>

