<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
  <div class="col-s-7 col-md-6 col-lg-5 col-xl-4 grid-margin ">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"><a>Home</a></li>
        <li class="breadcrumb-item"><a>Currency</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span>Add</span></li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-sm-2" style="text-align: left">
      <button type="button" class="btn btn-outline-warning" routerLink="/pages/currency"  >
        <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
      </button>
    </div>
  </div>
  <br>
</div>
<div class="">
  <div class="card">
    <div class="card-body col-sm-10 col-md-8 col-lg-6 align-self-center">
      <form [formGroup]="currencyForm">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
            <div class="form-group">
              <label for="ShortName" >ShortName</label>
              <input type="text" class="form-control" id="ShortName" placeholder="ShortName" formControlName="shortName"  [(ngModel)]="cryPost.shortName" >
              <div *ngIf="currencyForm.controls['shortName'].invalid && (currencyForm.controls['shortName'].dirty || currencyForm.controls['shortName'].touched)" class="alert alert-danger">
                <div *ngIf="currencyForm.controls['shortName'].errors.required">
                  Short Name is required.
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="row"><div class="col">
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Name" formControlName="name" [(ngModel)]="cryPost.name">
              <div *ngIf="currencyForm.controls['name'].invalid && (currencyForm.controls['name'].dirty || currencyForm.controls['name'].touched)" class="alert alert-danger">
                <div *ngIf="currencyForm.controls['name'].errors.required">
                  Name is required.
                </div>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <label for="Network">Network</label>
              <select class="form-control" id="Network" [(ngModel)]="cryPost.network" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let field of fields; let i = index" [ngValue]="i">{{field}}</option>
              </select>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Crypto" [(ngModel)]="cryPost.crypto" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="Crypto">
                  Crypto
                </label>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="Enabled" [(ngModel)]="cryPost.enabled" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="Enabled">
                  Enabled
                </label>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="payinEnabled" [(ngModel)]="cryPost.payinEnabled" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="payinEnabled">
                  Pay in Enabled
                </label>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <label for="payInConfirmations">pay in Confirmations</label>
              <input type="number" class="form-control" id="payInConfirmations" formControlName="payinConfirmations" min="0" placeholder="pay in Confirmations" [(ngModel)]="cryPost.payinConfirmations" >
              <div *ngIf="currencyForm.controls['payinConfirmations'].invalid && (currencyForm.controls['payinConfirmations'].dirty || currencyForm.controls['payinConfirmations'].touched)" class="alert alert-danger">
                <div *ngIf="currencyForm.controls['payinConfirmations'].errors.required">
                  Pay In Confirmations is required.
                </div>
                <div *ngIf="currencyForm.controls['payinConfirmations'].errors.min">
                  Pay In Confirmations must be more than 0.
                </div>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="PayoutEnabled" [(ngModel)]="cryPost.payoutEnabled" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="PayoutEnabled">
                  Pay out Enabled
                </label>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="TransferEnabled" [(ngModel)]="cryPost.transferEnabled" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="TransferEnabled">
                  Transfer Enabled
                </label>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <label for="payOutFee">Pay Out Fee</label>
              <input type="number" class="form-control" id="payOutFee" placeholder="Pay Out Fee" [(ngModel)]="cryPost.payoutFee" min="0" formControlName="payoutFee">
              <div *ngIf="currencyForm.controls['payoutFee'].invalid && (currencyForm.controls['payoutFee'].dirty || currencyForm.controls['payoutFee'].touched)" class="alert alert-danger">
                <div *ngIf="currencyForm.controls['payoutFee'].errors.required">
                  Pay out Fee is required.
                </div>
                <div *ngIf="currencyForm.controls['payoutFee'].errors.min">
                  Pay out Fee must be more than 0.
                </div>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <label for="minWithdraw">Min Withdraw</label>
              <input type="number" class="form-control" id="minWithdraw" placeholder="Min Withdraw" [(ngModel)]="cryPost.minWithdraw" min="0" formControlName="minWithdraw">
              <div *ngIf="currencyForm.controls['minWithdraw'].invalid && (currencyForm.controls['minWithdraw'].dirty || currencyForm.controls['minWithdraw'].touched)" class="alert alert-danger">
                <div *ngIf="currencyForm.controls['minWithdraw'].errors.min">
                  Min Withdraw must be more than 0.
                </div>
              </div>
            </div>
          </div></div>
          <div class="row"><div class="col">
            <div class="form-group">
              <label for="minDeposit">Min Deposit</label>
              <input type="number" class="form-control" id="minDeposit" placeholder="Min Deposit" [(ngModel)]="cryPost.minDeposit" min="0" formControlName="minDeposit">
              <div *ngIf="currencyForm.controls['minDeposit'].invalid && (currencyForm.controls['minDeposit'].dirty || currencyForm.controls['minDeposit'].touched)" class="alert alert-danger">
                <div *ngIf="currencyForm.controls['minDeposit'].errors.min">
                  Min Deposit must be more than 0.
                </div>
              </div>
            </div>
          </div></div>
        </div>
      </div>
      <div class="row float-right">
        <div class="col ">
          <button type="button" class="btn btn-success" [disabled]="currencyForm.invalid" (click)="addCurrency()">Add</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
