<div style="position: relative">
  <ngx-spinner
    size = "default"
    color = "#FCBB44"
    type = "ball-beat"
    [fullScreen] = "true"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
<div class="container">
<div class="card">
<div class="card-body">
  <form [formGroup]="marketForm">
<div class="row">
  <div class="col-sm">
    <div class="form-group">
      <label for="1">Base Currency ShortName</label>
      <select class="form-control" id="1" [(ngModel)]="marketAdd.baseCurrencyShortName" formControlName="baseCurrencyShortName">
        <option [ngValue]="undefined" disabled selected> select </option>
        <option *ngFor="let i of cur" [ngValue]="i.shortName"  >{{i.shortName}}</option>
      </select>
    </div>
    <div *ngIf="marketForm.controls['baseCurrencyShortName'].invalid && (marketForm.controls['baseCurrencyShortName'].dirty || marketForm.controls['baseCurrencyShortName'].touched)" class="alert alert-danger">
      <div *ngIf="marketForm.controls['baseCurrencyShortName'].errors.required">
        Base Currency ShortName is required.
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-group">
      <label for="2">Quote Currency ShortName</label>
      <select class="form-control" id="2" [(ngModel)]="marketAdd.quoteCurrencyShortName" formControlName="quoteCurrencyShortName">
        <option [ngValue]="undefined" disabled selected> select </option>
        <option *ngFor="let i of cur" [ngValue]="i.shortName"  >{{i.shortName}}</option>
      </select>
    </div>
    <div *ngIf="marketForm.controls['quoteCurrencyShortName'].invalid && (marketForm.controls['quoteCurrencyShortName'].dirty || marketForm.controls['quoteCurrencyShortName'].touched)" class="alert alert-danger">
      <div *ngIf="marketForm.controls['quoteCurrencyShortName'].errors.required">
        Quote Currency ShortName is required.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="form-group">
      <label for="3">Quantity Increment</label>
      <input type="number" class="form-control" id="3" placeholder="Quantity Increment" formControlName="quantityIncrement" [(ngModel)]="marketAdd.quantityIncrement">
      <div *ngIf="marketForm.controls['quantityIncrement'].invalid && (marketForm.controls['quantityIncrement'].dirty || marketForm.controls['quantityIncrement'].touched)" class="alert alert-danger">
        <div *ngIf="marketForm.controls['quantityIncrement'].errors.required">
          Quantity Increment is required.
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-group">
      <label for="4">Tick Size</label>
      <input type="number" class="form-control" id="4" placeholder="Tick Size" formControlName="tickSize" [(ngModel)]="marketAdd.tickSize">
      <div *ngIf="marketForm.controls['tickSize'].invalid && (marketForm.controls['tickSize'].dirty || marketForm.controls['tickSize'].touched)" class="alert alert-danger">
        <div *ngIf="marketForm.controls['tickSize'].errors.required">
          Tick Size is required.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="form-group">
      <label for="5">Take Liquidity Rate</label>
      <input type="number" class="form-control" id="5" placeholder="Take Liquidity Rate" formControlName="takeLiquidityRate" [(ngModel)]="marketAdd.takeLiquidityRate">
      <div *ngIf="marketForm.controls['takeLiquidityRate'].invalid && (marketForm.controls['takeLiquidityRate'].dirty || marketForm.controls['takeLiquidityRate'].touched)" class="alert alert-danger">
        <div *ngIf="marketForm.controls['takeLiquidityRate'].errors.required">
          Take Liquidity Rate is required.
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-group">
      <label for="6">Provide Liquidity Rate</label>
      <input type="number" class="form-control" id="6" placeholder="Provide Liquidity Rate" formControlName="provideLiquidityRate" [(ngModel)]="marketAdd.provideLiquidityRate">
      <div *ngIf="marketForm.controls['provideLiquidityRate'].invalid && (marketForm.controls['provideLiquidityRate'].dirty || marketForm.controls['provideLiquidityRate'].touched)" class="alert alert-danger">
        <div *ngIf="marketForm.controls['provideLiquidityRate'].errors.required">
          Provide Liquidity Rate is required.
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row float-right">
      <div class="col-sm-2 btn-center">
        <label for="submit"> </label>
        <button type="button" id="submit" class="btn btn-success " (click)="addSubmit()" [disabled]="marketForm.invalid" > Submit </button>
      </div>
  </div>
  </form>
</div>
</div>
</div>


