<div class="">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">UserName</th>
    <td>{{userList.userName}}</td>
  </tr>
  </thead>
  <tbody>
  <tr >
    <th scope="col">FullName</th>
    <td>{{userList.fullName}}</td>
  </tr>
  </tbody>
  <thead>
  <tr>
    <th scope="col">Phone Number</th>
    <td>{{userList.phoneNumber}}</td>
  </tr>
  </thead>
  <tbody>
  <tr >
    <th scope="col">phone Number Confirmed</th>
    <td> <i [ngClass]="userList.phoneNumberConfirmed ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
  </tr>
  </tbody>
  <thead>
  <tr>
    <th scope="col">Country</th>
    <td>{{userList.country}}</td>
  </tr>
  </thead>
  <tbody>
  <tr >
    <th scope="col">Email</th>
    <td>{{userList.email}}</td>
  </tr>
  </tbody>
  <thead>
  <tr>
    <th scope="col">Email Confirmed</th>
    <td> <i [ngClass]="userList.emailConfirmed ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
  </tr>
  </thead>
  <tbody>
  <tr >
    <th scope="col">Two Factor Enabled</th>
    <td><i [ngClass]="userList.twoFactorEnabled ?  'fa fa-check btn-outline-success':'fa fa-times btn-outline-danger'" ></i></td>
  </tr>
  </tbody>
  <thead>
  <tr>
    <th scope="col">Lockout End</th>
    <td>{{userList.lockoutEnd}}</td>
  </tr>
  </thead>
  <tbody>
  <tr >
    <th scope="col">Access Failed Count</th>
    <td>{{userList.accessFailedCount}}</td>
  </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>
